h1.site-title {
    background: url('https://github.com/Abhinagit24/Abhinagit24.github.io/blob/main/pexels-blitzboy-1175136.jpg');
    background-size: cover;
    padding: 50px; /* Adjust padding as needed */
    color: Black;  /* Ensures visibility */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
